@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<style>
    body {
        background-image: url("https://i.pinimg.com/originals/3b/4f/ac/3b4facdf04c5dcb2930c3177ab966dce.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
</style>