<ul class="navbar-nav flex-grow-1 cart">
    <a class="nav" asp-controller="cart" asp-action="index">Cart</a>
</ul> 

<style>
   ul a {
        font-weight: bold;
        text-transform: uppercase;
    }
    ul a:hover {
        list-style-type: none; 
        text-decoration: none;
    }
</style>